body {
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

div,
p,
ul {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}