@import "../base/typography";
@import "../abstracts/mixins";

.footer {
  padding: 30px 0;
  background: rgba($color: $color-lightsky, $alpha: 0.6);
}

.credits {
  position: relative;

  .copyright {
    margin: 0 auto;
    width: 400px;

    .copyright__name {
      color: $color-black;
      @include transition(0.5s);

      &:hover {
        color: $color-lightpink;
        @include transition(0.3s);
      }
    }
  }

  .credits__rss {
    position: absolute;
    top: -10px;
    right: 0;
    margin-left: auto;
    margin-right: 0;
  }
}